{% if index %}{% assign page = post %}{% endif %}
<article role="article" class="well">
  <header>
    <section class="title">
      <h1>
        {% if index %}
        <a href="{{ page.url }}">{{ page.title }}</a>
        {% else %}
        {{ page.title }}
        {% endif %}
      </h1>
    </section>
    <section class="meta">
      @<time>{{ page.date | date: "%Y-%m-%d" }}</time>
      <span class="categories">
        {% for cat in page.categories %}
        <em class="category">#{{ cat }}</em>
        {% endfor %}
      </span>
    </section>
  </header>
  <section class="post{% if page.serif %} serif{% endif %}">
    {{ content }}
  </section>
</article>
