<meta charset="utf-8" />
<meta http-equiv="Content-Type" content="text/html" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="author" content="Kane Dou">
<link rel="shortcut icon" href="/favicon.ico">
<link href="/feed.xml" rel="alternate" title="kandou.me" type="application/rss+xml">
<link rel="stylesheet" href="/assets/stylesheets/screen.css" />
<link rel="stylesheet" href="/assets/stylesheets/syntax.css" />
<title>
  {% if page.title %}{{ page.title }} | {% endif %}{{ site.name }}
</title>
